.c-button {
  border: 1px solid $main-c;
  padding: 0.7em 1em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  position: relative;
  @include mq() {
    padding: 0.5em 1em 0.4em;
  }
  &:not(.-dark) {
    background: $white;
    color: $main-c;
    &:hover {
      background: $main-c;
      color: #fff;
      // border-color: $main-c;
      [class*='c-ico'] {
        fill: #fff;
      }
      .c-after-icon.-arrow:before {
        border-color: $white;
      }
    }
  }
  &.-full {
    width: 100%;
  }
  &.-dark {
    background: $main-c;
    color: #fff;
    &:hover {
      background: #fff;
      color: $main-c;
      // border-color: $main-c;
      [class*='c-ico'] {
        fill: $main-c;
      }
      .c-after-icon.-arrow:before {
        border-color: $main-c;
      }
    }
    .c-after-icon.-arrow:before {
      border-color: $white;
    }
  }
  &.-py {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  &.-py-s {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  &.-lg {
    max-width: 300px;
    width: 80%;
  }
  + .c-button {
    margin-left: 5px;
  }
  .small {
    font-size: 0.9em;
    text-align: inherit;
  }
}
.l-container_main,
.l-container_side {
  .c-button {
    font-family: $gothic;
  }
}
.c-nav_scene {
  .c-button {
    display: block;
    text-align: center;
  }
}
.c-list + .c-button-wrapper {
  margin-top: 30px;
}

.c-button-small {
  font-family: $gothic;
  position: relative;
  color: $main-c;
  margin-top: 20px;
  &::after {
    @include ba;
    width: 1em;
    height: 1em;
    margin-bottom: -0.1em;
    background: url(../images/common/arrow_s.svg) no-repeat center center /
      contain;
    transition: transform 0.3s ease;
  }
  &:hover {
    &::after {
      transform: translateX(5px);
    }
  }
}

.c-button-text {
  cursor: pointer;
  transition: 0.3s;
  line-height: 1.2;
  padding: 0;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  text-decoration: none;
  font-size: rem(12);
  font-weight: 600;
  @include mq() {
    font-size: rem(14);
  }
  &:hover {
    border-color: $main-c;
  }
}

.c-button-wrapper {
  &.-pager {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
    }
  }
  .c-button-pager {
    padding: 10px;
    border-radius: 10px;
    &.-prev,
    &.-next {
      &::before {
        @include ba;
        width: 0.5em;
        height: 0.5em;
        border-color: $main-c;
        transform-origin: center;
      }
    }
    &.-prev {
      &::before {
        border-bottom: 1px solid;
        border-left: 1px solid;
        transform: rotate(45deg);
      }
    }
    &.-next {
      &::before {
        border-top: 1px solid;
        border-right: 1px solid;
        transform: rotate(45deg);
      }
    }
    &.is-active {
      background: $bg-c;
    }
    + .c-button-pager {
      margin-left: 5px;
    }
  }
}
