@charset "UTF-8";
/*-----------ベース -----------*/
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; list-style: none; }

body { line-height: 1; -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; border: 0; margin: 0; padding: 0; }

input, select { vertical-align: middle; }

i { font-style: normal; }

html { font-size: 16px; text-underline-position: under; }

body { font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; font-weight: 500; line-height: 1.75; width: 100vw; overflow-x: hidden; letter-spacing: 0.02em; -webkit-font-feature-settings: 'palt'; font-feature-settings: 'palt'; font-size: 0.875rem; }

@media screen and (min-width: 640px) { body { font-size: 1rem; } }

a { color: inherit; cursor: pointer; }

img { display: block; max-width: 100%; }

span, i { font-size: inherit; color: inherit; letter-spacing: inherit; line-height: inherit; font-family: inherit; }

button { font-size: inherit; font-family: inherit; background: none; border: none; outline: none; padding: 0; margin: 0; cursor: pointer; }

button:focus { opacity: 0.6; }

/*-------フォントサイズ---------*/
h1 { font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

h2 { font-size: 1.5625rem; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

h3 { font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

/*-----------レイアウト　接頭辞「l-」-----------*/
.l-viewport { max-width: 450px; margin: 0 auto; }

.l-wrapper { padding: 30px 0; }

.l-inner { width: 90%; margin: 0 auto; position: relative; max-width: 640px; }

.l-inner.-sm { max-width: 430px; }

.l-head + .l-body { margin-top: 30px; }

.l-grid { display: -ms-grid; display: grid; }

.l-grid.-gap { grid-gap: 10px; }

@media screen and (min-width: 640px) { .l-grid.-gap { grid-gap: 15px; } }

.l-grid.-col2 { -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; }

.l-header { height: 70px; width: 100vw; background: #fff; position: fixed; top: 0; left: 0; padding: 5px 3vw; }

@media screen and (min-width: 640px) { .l-header { height: 120px; padding: 10px 0; } }

/*----------パーツ 接頭辞「c-」------------*/
.c-title.-sm { font-size: 4vw; }

@media screen and (min-width: 640px) { .c-title.-sm { font-size: 1.25rem; } }

.c-title.-md { font-size: 6vw; }

@media screen and (min-width: 640px) { .c-title.-md { font-size: 1.875rem; } }

.c-title.-lg { font-size: 8vw; }

@media screen and (min-width: 640px) { .c-title.-lg { font-size: 2.5rem; } }

.c-title.-tac { text-align: center; }

.c-title.-gothic { font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }

.c-title .accent { color: #c3334b; }

.c-title__sub { display: block; text-align: inherit; }

.c-title__sub.-sm { font-size: 0.75rem; }

.c-title__sub.-md { font-size: 0.875rem; }

.c-title__sub.-lg { font-size: 1rem; }

.c-text { font-size: 0.875rem; }

.c-text.-sm { font-size: 0.75rem; }

.c-text.-md { font-size: 0.9375rem; }

.c-text.-lg { font-size: 1rem; }

.c-text.-tac { text-align: center; }

.c-link { text-decoration: none; display: inline-block; }

.c-list--check { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 1rem; line-height: 1.6; }

.c-list--check::before { content: ''; display: inline-block; width: 1.5em; height: 2em; background: url(../images/ico-check.svg) no-repeat center/contain; margin-right: 5px; }

.c-list--check + .c-list--check { margin-top: 0.7em; }

.c-box { padding: 10px 15px; background-color: rgba(255, 255, 255, 0.8); }

.c-box--border { padding: 10px 15px; background-color: #fff; position: relative; }

.c-box--border::before { content: ''; display: inline-block; width: calc(100% - 4px); height: calc(100% - 4px); pointer-events: none; border: 1px solid #77abc4; position: absolute; top: 2px; left: 2px; }

.c-box--border__title { text-align: center; font-size: 0.875rem; font-weight: 700; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.c-box--border, .c-box--border__title { color: #4888a6; }

.c-card { position: relative; }

.c-card::before, .c-card::after { position: absolute; }

.c-card::before { content: ''; display: inline-block; background: url(../images/parts-number.svg) no-repeat left top/contain; width: 25%; height: 36px; top: -4px; left: 7px; }

.c-card::after { counter-increment: number; content: "0" counter(number); font-size: 1rem; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; top: 0; left: 16px; }

.c-card:nth-of-type(10)::after { content: counter(number); }

.c-card-wrapper { counter-reset: number; }

.c-card__text { background-color: #fff; padding: 10px 5px; color: #000000; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; line-height: 1.5; text-align: center; font-size: 0.8125rem; letter-spacing: 0; }

/*--------個別ページ　接頭辞「p-」--------------*/
.p-special-winter .l-wrapper:not(.-bg) { background-color: #77abc4; color: #fff; }

.p-special-winter .l-wrapper.-bg { background-color: #e8e8e8; }

.p-special-winter .c-box--border .c-text .accent { color: #c3334b; }

.p-special-winter .c-box--border .c-text .big { font-size: 1.2em; }

.p-special-winter .u-underline { border-color: transparent transparent #db9749 transparent; }

.p-special-winter__title { color: #ffe9db; }

.p-special-winter__second-title { line-height: 1; display: block; margin-top: 15px; }

.p-special-winter__second-title .big { font-size: 1.3em; }

.p-special-winter__gift-title { position: relative; }

.p-special-winter__gift-title::before, .p-special-winter__gift-title::after { content: ''; display: inline-block; position: absolute; width: 11%; height: 100%; background: url(../images/title-gift.svg) no-repeat center bottom/contain; bottom: 0; }

.p-special-winter__gift-title::before { left: 0; }

.p-special-winter__gift-title::after { right: 0; -webkit-transform: scale(-1, 1); transform: scale(-1, 1); }

.p-special-winter__bg { background: url(../images/bg-winter.svg) no-repeat center top/contain; }

.p-special-sakura .l-wrapper { background-color: #fff4f2; }

.p-special-sakura .c-box { padding-top: 50px; padding-bottom: 30px; margin-top: -30px; }

.p-special-sakura__banner { display: -webkit-box; display: -ms-flexbox; display: flex; text-decoration: none; }

.p-special-sakura__banner__head { width: 55%; background-color: #fff4f2; padding-top: 5px; }

.p-special-sakura__banner__body { width: 45%; background-color: #fff; position: relative; padding: 10px 2% 1em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.p-special-sakura__banner__body .c-link { background-color: #fc5d7f; color: #fff; padding: 0 0.5em; position: absolute; right: 0; bottom: 0; }

.p-special-sakura__price { max-width: 350px; margin: 0 auto; background: #fff; padding: 20px 30px 15px; }

.p-special-sakura__price .title, .p-special-sakura__price .price, .p-special-sakura__price .discount { font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.p-special-sakura__price .cont { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.p-special-sakura__price .title { line-height: 1; font-size: 0.875rem; }

.p-special-sakura__price .price { text-decoration: line-through; -webkit-text-decoration-style: double; text-decoration-style: double; font-size: 1rem; margin-left: 5px; }

.p-special-sakura__price .discount { color: #ae0f0f; line-height: 1; font-size: 1.125rem; }

.p-special-sakura__price .discount .strong { font-size: 3em; }

.p-special-sakura__price .arrow { margin: 0 5px; }

.p-special-sakura__banner__body .p-special-sakura__price { padding: 0; }

.p-special-sakura__banner__body .p-special-sakura__price .cont { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.p-special-sakura__banner__body .p-special-sakura__price .price { margin-left: 0; font-size: 0.875rem; }

.p-special-sakura__banner__body .p-special-sakura__price .title { font-size: 0.75rem; }

.p-special-sakura__banner__body .p-special-sakura__price .discount { font-size: 1rem; }

.p-special-sakura__banner__body .p-special-sakura__price .discount .strong { font-size: 2.5em; }

.p-special-sakura__title { max-width: 300px; margin: 0 auto; position: relative; z-index: 2; }

.p-special-sakura__title + .p-special-sakura__price { margin-top: -15px; position: relative; z-index: 1; }

.p-special-sakura__image { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.p-special-sakura__image img { width: 100%; }

.p-special-sakura__footer { margin-top: 30px; background-color: #fc5d7f; text-align: center; color: #fff; font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; padding: 20px 0; font-size: 1.0625rem; }

/*---------ヘルパークラス　接頭辞「u-」-------------*/
.u-sp { display: block !important; }

@media screen and (min-width: 640px) { .u-sp { display: none !important; } }

.u-pc { display: none !important; }

@media screen and (min-width: 640px) { .u-pc { display: block !important; } }

.u-sp-i { display: inline-block !important; }

@media screen and (min-width: 640px) { .u-sp-i { display: none !important; } }

.u-hide { visibility: hidden !important; opacity: 0 !important; }

.u-show { visibility: visible !important; opacity: 1 !important; }

.u-block { display: block !important; }

.u-inline-block { display: inline-block !important; }

.u-mt--xs { margin-top: 5px !important; }

.u-mt--s { margin-top: 8px !important; }

.u-mt--m { margin-top: 15px !important; }

.u-mt--l { margin-top: 30px !important; }

.u-mt--ll { margin-top: 35px !important; }

.u-mt--xl { margin-top: 40px !important; }

.u-mx-s { margin-right: 10px; margin-left: 10px; }

.u-ml-m { margin-left: 10px !important; }

@media screen and (min-width: 640px) { .u-mt--s { margin-top: 7px !important; }
  .u-mt--s { margin-top: 10px !important; }
  .u-mt--m { margin-top: 20px !important; }
  .u-mt--l { margin-top: 40px !important; }
  .u-mt--ll { margin-top: 60px !important; }
  .u-mt--xl { margin-top: 80px !important; }
  .u-ml-m { margin-left: 30px !important; } }

.u-mx-auto { margin-right: auto !important; margin-left: auto !important; }

.u-pb-0 { padding-bottom: 0 !important; }

.u-pt-s { padding-top: 8px !important; }

@media screen and (min-width: 640px) { .u-pt-s { padding-top: 10px !important; } }

.u-mp-header { padding-top: 70px; margin-top: -70px; }

@media screen and (min-width: 640px) { .u-mp-header { padding-top: 120px; margin-top: -120px; } }

.u-relative { position: relative !important; }

.u-dotted { text-decoration: none !important; border-bottom: 2px dotted !important; }

.u-underline { text-decoration: none !important; border-width: 2px !important; border-style: solid !important; border-color: transparent transparent #000000 transparent; }
/*# sourceMappingURL=style.css.map */